.titulo {
    margin-bottom: .5em;
    font-size: 2em;text-transform: none;
}

.textCenter {
    text-align: center;
}

.name {
    background-color: #000;
    color: yellow;
    padding: 0 10px;
    letter-spacing: 3px;
    border-radius: 5px;
    font-family: 'font2';
}

.link {
    margin: auto;
    padding: 10px;
    color: #000;
    cursor: pointer;
    margin-block: 1em;
    width: fit-content;
    border-radius: 10px;
    text-decoration: none;
    background-color: rgba(48, 68, 75, .8);
}

.ImgDestaque {
    width: 60vmin;
    margin: auto;
}