.header {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2em;
}

.newProject {
    color: wheat;
    padding: 10px;
    cursor: pointer;
    text-decoration: none;
    background-color: rgb(47, 52, 52);
}

.containerCard {
    width: 90%;
    margin: 1.5em auto;
    display: flex;
    flex-flow: row wrap;
    gap: 10px;

    &>* {
        text-transform: capitalize;
    }
}