.sms {
    width: 100%;
    padding: 1.3em;
    font-size: 1.1em;
    margin-bottom: 1em;
    text-align: center;
    letter-spacing: 1.5px;
}

.sucesso {
    background-color: rgba(144, 238, 144,0.6);
    color: rgb(0, 128, 0);
    border: 3px solid rgb(0, 100, 0);
}

.erro {
    color: rgba(255, 0, 0, 0.6);
    background-color: rgb(240, 128, 128);
    border: 3px solid rgb(139, 0, 0);
}